
* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-weight: bold;
    font-size: 16px;
    color: #dcdfe1;
}


#waybar {
    background-color: rgba(15, 27, 53, 0.95); 
    border: none;

    
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);

    
    margin: 8px 16px;
    padding: 6px 10px;

    
    border-radius: 18px 18px 24px 24px; 
    box-shadow: 0 0 20px rgba(80, 120, 200, 0.3);
    
}


#workspaces,
#window,
#clock {
    background: transparent;
    padding: 0 10px;
    margin: 0 4px;
    border: none;
}

/* Workspace 样式 */
#workspaces, #bluetooth, #clock, #network, #pulseaudio {
    padding: 4px 10px;
    margin: 0 3px;
    background: rgba(29, 31, 46, 0.7);
    border-radius: 10px;
    transition: background 0.3s;
}

#workspaces button.focused {
    background: rgba(80, 100, 160, 0.9);
}

#workspaces button:hover {
    background: rgba(60, 80, 130, 0.8);
}

#tray {
  background: rgba(29, 31, 46, 0.7);
  border-radius: 10px;
  padding: 4px 10px;
}
